/* universal styles */
:root {
   --background-main: #FFFCF9;
   --primary-color: #26547C;
   --secondary-color: #EF476F;
   --tertiary-color: #FFD166;
   --quad-color: #06D6A0;
}

* {
   font-family:Georgia, 'Times New Roman', Times, serif;
   box-sizing: border-box;
}

/* body styles */
body {
   background-color: var(--background-main);
}
/* header styles */

#background {
  opacity: 0.5;
}

h1 {
   text-shadow: 2px 2px 4px var(--tertiary-color);
}

/* footer styles */
.flex-container-row {
   display: flex;
   flex-direction: row;
}

.team {
   background-color: var(--secondary-color);
   text-align: center;
}

.member {
   padding: 10px;
   font-size: 18px;
}

/* definition section styles */
.flex-container {
   display: flex;
   flex-direction:column;
   max-width: fit-content;
}
/* solving button issue ideas
button:active {
   color: var(--primary-color);
}

javascript
see css-tricks.com/how-to-recreate-the-ripple-effect-of-material-design-buttons/


/* language buttons */
#lang-one {
   background-color: var(--tertiary-color);
}

#lang-two {
   background-color: var(--secondary-color);
}

#lang-three {
   background-color: var(--quad-color);
}

/* media queries for responsive design begin */
@media screen and (max-width: 980) {
   .flex-container {
      margin-bottom: 0;
   }

   .team {
      margin-top: 0;
   }
}

/* tablets and smaller */
@media screen and (max-width: 768px) {

}

/* mobile phones and smaller */
@media screen and (max-width: 575px) {

}