/* universal styles */
:root {
   --background-main: #FFFCF9;
   --primary-color: #26547C;
   --secondary-color: #EF476F;
   --tertiary-color: #FFD166;
   --quad-color: #06D6A0;
}

* {
   font-family:Georgia, 'Times New Roman', Times, serif;
   box-sizing: border-box;
}

/* body styles */
body {
   background-color: var(--background-main);
}
/* header styles */

#background {
  opacity: 0.5;
  margin: auto;
}

h1 {
   text-shadow: 2px 2px 4px var(--tertiary-color);
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

/* footer styles */
.flex-container-row {
   display: flex;
   flex-direction: row;
}

.team {
   background-color: var(--secondary-color);
   text-align: center;
}

.name {
   padding: 10px;
   font-size: 18px;
}

/* definition section styles */
.flex-container {
   display: flex;
   flex-direction:column;
   max-width: fit-content;
}

p {
   font-size: 18px;
}

/* language buttons */
#lang-one {
   background-color: var(--tertiary-color);
}

#lang-two {
   background-color: var(--secondary-color);
}

#lang-three {
   background-color: var(--quad-color);
}

.trans {
   padding-left: 199px;
}

/* media queries for responsive design begin */
@media screen and (max-width: 980px) {
   #background {
      width: 75%;
      margin-left: 100px;
      margin-right: auto;
   }
   .flex-container {
      margin-bottom: 0;
   }

   .team {
      margin-top: 0;
   }
}

/* tablets and smaller */
@media screen and (max-width: 768px) {
   #background {
      opacity: 0;
      width: 0%;  
   }

   .members {
      text-align: center;
   }
}

/* mobile phones and smaller */
@media screen and (max-width: 575px) {
   .def, .trans {
      border-bottom: 2px solid var(--quad-color);
      border-top: 2px solid var(--quad-color);
      margin: 10px 0;
   }

   .trans {
      padding-left: 0;
      text-align: center;
   }

   h3 {
      font-size: 15px;;
   }

   .name {
      font-size: 15px;
   }

}